body {
    font-family: times;
    font-size: 20px;
    border: 1px solid;
    margin-top: 20px;
    margin-bottom: 50px; 
	position: absolute;
	top: 25px;
    right: 500px;
    left: 500px;
	text-align: center;}


input {
	width: 50%;
    padding: 5px 15;
    margin: 15px 10px;
    box-sizing: border-box;}

p {
    display: inline;
    margin: 15px 10px;}